//FONT
body {
	font-family: 'Noto Serif JP', serif;
	font-family: 'Playfair Display', serif;
}
.gnav a {
    @include max-screen($breakpoint-sm) {
        color: #fff;
    }
    color: #4d4d4d;
}
header {
    border-bottom: 1px solid #4d4d4d;
    background: #fff;
}
header.top {
    background: transparent;
    border: none;
    .gnav a, .title a{
        color: #fff;
    }
    #nav_toggle span {
        background: #fff;
    }
}
footer {
    border-top: 1px solid #4d4d4d;
}
.fc {
	color: #4d4d4d;
}

.card {
    border: 1px solid #4d4d4d;
    border-radius: 1em;
}
.card  p {
	text-align: center;
	color: #4d4d4d;
}
.development .card:hover{
	transform: scale(1.05);
}
//.gnav li:hover {
//		transform: scale(1.1);
//}
.news li {
    border-bottom: 1px dotted #ccc;
    padding: 1em 2em;
    &:last-child {
        border: none;
    }
}

.image {width: 30%;}
.text {color: #4d4d4d;}
.logo {
    width: 15%; 
    margin-bottom: -.5em;
    @include max-screen($breakpoint-sm) {
        width: 30%;
    }
}

.reads {
    border: 1px solid #4d4d4d;
    padding: 1em 2em;
    border-radius: 1em;
}
.book {
    padding: 1em;
    text-align: center;
    a {display: block;}
    p {width: 200px; text-align: center;}
    a h3 {color: #4d4d4d;}
}