.mt-1 {margin-top: 1em;}
.mt-2 {margin-top: 2em;}
.mt-3 {margin-top: 3em;}
.mt-4 {margin-top: 4em;}
.mt-5 {margin-top: 5em;}
.mt-10 {margin-top: 10em;}

.mr-1 {margin-right: .5em;}
.mr-2 {margin-right: 1em;}
.mr-3 {margin-right: 1.5em;}
.mr-4 {margin-right: 2em;}
.mr-5 {margin-right: 2.5em;}

.ml-1 {margin-left: .5em;}
.ml-2 {margin-left: 1em;}
.ml-3 {margin-left: 1.5em;}
.ml-4 {margin-left: 2em;}
.ml-5 {margin-left: 2.5em;}

.mb-1 {margin-bottom: .5em;}
.mb-2 {margin-bottom: 1em;}
.mb-3 {margin-bottom: 1.5em;}
.mb-4 {margin-bottom: 2em;}
.mb-5 {margin-bottom: 2.5em;}

.p-1 {padding: 1em;}
.p-2 {padding: 2em;}
.p-3 {padding: 3em;}
.p-4 {padding: 4em;}
.p-5 {padding: 5em;}
.p-10 {padding: 10em;}

.pt-1 {padding-top: .5em;}
.pt-2 {padding-top: 1em;}
.pt-3 {padding-top: 1.5em;}
.pt-4 {padding-top: 2em;}
.pt-5 {paddng-top: 2.5em;}

.pr-1 {padding-right: .5em;}
.pr-2 {padding-right: 1em;}
.pr-3 {padding-right: 1.5em;}
.pr-4 {padding-right: 2em;}
.pr-5 {padding-right: 2.5em;}

.pl-1 {padding-left: .5em;}
.pl-2 {padding-left: 1em;}
.pl-3 {padding-left: 1.5em;}
.pl-4 {padding-left: 2em;}
.pl-5 {padding-left: 2.5em;}

.pb-1 {padding-bottom: .5em;}
.pb-2 {padding-bottom: 1em;}
.pb-3 {padding-bottom: 1.5em;}
.pb-4 {padding-bottom: 2em;}
.pb-5 {padding-bottom: 2.5em;}